@functions{
    private string getActionController(){
        return $"{ViewContext.RouteData.Values["Controller"]}/{ViewContext.RouteData.Values["Action"]}";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLegal_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/argon-dashboard.css?v=2.0.4" id="pagestyle" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eLegal_web.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header class="sticky-top bg-light">
        <div class="d-flex gap-3 px-3 pt-2">
            <a class="ms-2 navbar-brand d-flex gap-2" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/img/logo_uat.svg" style="height:3rem;">
                <img src="/img/siglas_uat.png" style="height:3.2rem;">
                <div class="mt-auto text-auto text-bolder">v1.1</div>
            </a>

            <div class="ms-auto">  </div>
            <!-- Usuario -->
            <div class="ml-auto dropdown">
                <button class="btn btn-secondary dropdown-toggle mb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user pr-1" aria-hidden="true"></i>
                    <span class="ms-1">@User.Identity!.Name</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="LogOut">
                            <i class="fa fa-door-open"></i>
                            <span>Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow pb-0 ">
            <div class="container-fluid">

                <!-- Navbar -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @( getActionController() == "Entries/New" ? "active" : "")" asp-area="" asp-controller="Entries" asp-action="New" >
                                <i class="fa fa-file-signature"> </i>
                                <span>Registrar Entrada</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark @( getActionController() == "Entries/Index" ? "active" : "") "  asp-area="" asp-controller="Entries" asp-action="Index">
                                <i class="fa fa-atlas"> </i>
                                <span>Entradas</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </header>

    <div class="container-fluid bg-white pt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-gradient-faded-light-vertical">
        <div class="container">
            &copy; 2023 - eLegal_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <!--   Theme Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <!-- <script src="~/assets/js/core/bootstrap.min.js"></script> -->
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- <script src="./assets/js/plugins/chartjs.min.js"></script> -->
    <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = { damping: '0.5' }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!--   Theme Core JS Files   -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a2a7183415.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
