@using eLegal.Entities
@{
    ViewData["Title"] = "Home Page";
    var showPaginator = false;
}

<div class="text-start py-2">
    <h1 class="fs-2 text-uppercase">Catalogo Entradas</h1>
</div>

<div class="">
    <div class="card mt-2 bg-white p-3 d-flex flex-row align-items-end gap-2 flex-wrap">
        <div class="d-flex align-items-center border rounded px-2" style="width: 24rem;">
            <svg fill="currentColor" class="text-muted" style="height: 1rem; width:1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/></svg>
            <input type="search" class="border-0 form-control px-2 text-muted h-100 w-100" id="search-input" placeholder="Filtrar por palabra clave" style="width:24rem;" />
        </div>
        
        <div class="d-flex gap-1" style="margin-left:auto;">
            <div class="d-flex flex-column" style="width: 12rem;">
                <label for="">Tipo Entrada</label>
                <select class="form-select form-select-sm" aria-label="Small select example" style="max-width: 400px;">
                    <option value="0">Todos</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="d-flex flex-column" style="width: 12rem;">
                <label for="">Origen</label>
                <select class="form-select form-select-sm" aria-label="Small select example" style="max-width: 400px;">
                    <option value="0">Todos</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="d-flex flex-column" style="width: 12rem;">
                <label for="">Departamento</label>
                <select class="form-select form-select-sm" aria-label="Small select example" style="max-width: 400px;">
                    <option value="0">Todos</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Titulo de la Tabla</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Folio</th>
                                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Asunto</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Tipo Entrada</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Tipo Origen</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Fecha Registro</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Estatus</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Ultima Actualizacion</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Documentos</th>
                                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Eventos</th>
                                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"> Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var entry in ViewBag.items){
                            <tr>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">E @entry.Folio.ToString().PadLeft(6,'0')</h6>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">@entry.Asunto</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@entry.TipoEntrada</span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@entry.TipoOrigen</span>
                                </td>
                                <td class="align-middle text-center">
                                    <p class="text-xs font-weight-bold mb-0">@entry.FechaRegistro.ToString("dd MMM yyyy")</p>
                                    <p class="text-xs font-weight-bold mb-0">@entry.FechaRegistro.ToString("HH:mm:ss")</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@entry.Estatus</span>
                                </td>
                                <td class="align-middle text-center">
                                    <p class="text-xs font-weight-bold mb-0">@entry.UltimaActualizacion.ToString("dd MMM yyyy")</p>
                                    <p class="text-xs font-weight-bold mb-0">@entry.UltimaActualizacion.ToString("HH:mm:ss")</p>
                                </td>
                                <td>
                                    <p class="text-center text-xs font-weight-bold mb-0">@entry.DocumentosAdjuntos</p>
                                </td>
                                <td>
                                    <p class="text-center text-xs font-weight-bold mb-0">@entry.EventosRegistrados</p>
                                </td>
                                <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Detalles"></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                @if(showPaginator){
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            @Html.ActionLink("1", "Index", "Entries", new {@Page = 1}, new {@class="page-link"})
                        </li>
                        <li class="page-item">
                            @Html.ActionLink("2", "Index", "Entries", new {@Page = 2}, new {@class="page-link"})
                        </li>
                        <li class="page-item">
                            @Html.ActionLink("3", "Index", "Entries", new {@Page = 3}, new {@class="page-link"})
                        </li>
                        <li class="page-item">
                            @Html.ActionLink("Siguiente", "Index", "Entries", new {@Next = 1}, new {@class="page-link"})
                        </li>
                        
                    </ul>
                </nav>
                }

                <div class="text-end text-lg">
                    @ViewBag.items.Count Entradas
                </div>
            </div>

        </div>
    </div>
</div>